<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hidden {
            display: none
        }
    </style>
    <style>
        .toshow {
            display: none
        }
    </style>
</head>
<body>
<form id="form">
    <div>
        <label>DNI:</label>
        <br>
        <input type="number" id="DNI" name="DNI"/>
    </div>
    <div>
        <label>contraseña:</label>
        <br>
        <input type="password" id="contrasenha" name="contrasenha"/>
    </div>
    <div>
        <label>numero de doctor:</label>
        <br>
        <input type="number" id="numero" name="numero"/>
    </div>
    <div>
        <input type="submit" value="Registrar"/>
        <br>
    </div>
</form>
<div id="error" class="hidden">Ocurrió un error!</div>
<div id="ok" class="toshow">REGISTRADO CON EXITO!</div>
<ul id="login">
    {% for d in data %}
    <li>{{d.dni}}</li>
    {% endfor %}
